*{
    margin: 0px;
    padding: 0px;
    background-color: rgb(39, 39, 39);
    color: goldenrod;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;      
}  

ul
{
    background-color: rgb(19, 12, 1);
    text-align: center;
}

ul li, ul li a
{
    display: inline-block;
    font-size: 30px;
}

ul li a
{
    padding: 10px;
    text-decoration: none;
    color: goldenrod;
    background-color: rgb(19, 12, 1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: ease-in 0.5;
}

ul li a:hover
{
    background-color: goldenrod;
    color:rgb(19, 12, 1);
    font-weight: bolder;
    border-radius: 5px 5px 0px 0px;
    padding-top: 2px;
}

ul li a
{
    padding: 10px;
    text-decoration: none;
    color: goldenrod;
    background-color: rgb(19, 12, 1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: ease 0.5s;
}

ul li a.selected{
    background-color: rgb(219, 159, 7);
    color:rgb(19, 12, 1);
    font-weight: bolder;
    border-radius: 5px 5px 0px 0px;
    padding-top: 2px;
}

.title{
    text-align: center;
    font-size: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgb(27, 12, 1)
}

.info{
    text-align: center;
    font-size: 80px;
    padding-left: 60px;
    padding-right: 60px;
    color: rgb(220, 196, 136);
}

.info2{
    text-align: center;
    font-size: 35px;
    padding-left: 120px;
    padding-right: 120px;
    color: rgb(220, 196, 136);
}

.spacer{
    height: 50px;
}

.imgbox {
    display: grid;
    height: 100%;
}

.img{
    max-width: 100vw;
    max-height: 100%;
    margin: auto;
}

.paragraph-title{
    font-size: 32px;
    padding-left: 240px;
    padding-right: 240px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    color: rgb(218, 190, 121);
    font-weight: bold;
}

.paragraph{
    font-size: 24px;
    padding-left: 240px;
    padding-right: 240px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    color: rgb(220, 196, 136);
}

.bullet{
    font-size: 24px;
    padding-left: 290px;
    padding-right: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    color: rgb(220, 196, 136);
}

/*#img{
    object-fit: contain;
    width: 100vmin;
    height: auto;
}*/

/*#img{
    max-width: 100%;
    height: auto;
}*/